:root {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

a, button {
    cursor: pointer;
}

button, .button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    padding: 1.7rem 4rem;
    transition: transform 0.3s ease-in-out;
    max-height: 4.8rem;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        box-shadow: #1c1733;
    }
}