body {
    background-color: #343045;
    color: #FFFFFF;
    width: 100%;
    font-size: 100%;
    margin: 5rem 8.4rem;
}

/*HEADER*/

header {
    display: flex;
    width: 1278px;
}

header .logo {
    display: flex;

    & :nth-child(2) {
        margin-left: 1.5rem;
    }
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
}

header .menu ul {
    display: flex;
    font-size: 1.2rem;
    margin-left: 15rem;
    margin-right: 10rem;
    text-transform: uppercase;

    & li {
        padding: 2.1rem;
    }

    & :hover {
        color: #C0B7E8;
        transition: 0.2s ease-in-out;
    }
}

header .menu button {
    &.contato {
        background: none;
        background-color: #343045;
        color: #FFFFFF;
        border: solid 1px #FFFFFF;
        margin-right: 3.5rem;
    }
}

/*HERO*/

main #hero {
    display: flex;
    flex-direction: column;
    width: 1278px;
}

main #hero .introducao {
    display: flex;
    justify-content: space-between;
    margin: 12.4rem 0 8.8rem 0;

    & .text {
        max-width: 51rem;
        align-self: center;

        & h1 {
            font-size: 4.6rem;
            margin-bottom: 3.6rem;

            & span:nth-child(1) {
                background: linear-gradient(92deg, #C0B7E8 -1.02%, #8176AF 36.25%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            & span:nth-child(2) {
                background: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        & p {
            max-width: 49.5rem;
            font-size: 1.6rem;
            line-height: 2.5rem;
        }

        & :nth-child(3) {
            display: flex;
            align-items: end;
            margin-top: 4rem;

            & img {
                margin: 0 0 -25px 40px;
            }
        }
    }

    & .main-image {
        border-radius: 100px 100px 100px 240px;
        border: solid 18px rgba(0, 0, 0, 0.13);
    }
}

main #hero .contato {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 127.2rem;
    height: 16.7rem;
    border-radius: 90px;
    background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    margin-bottom: 9rem;
    padding: 4.8rem 8rem 4.8rem 3.9rem;

    & figure {
        display: flex;
        align-items: center;

        & .location-pin {
            width: 70px;
        }

        & .phone-icon {
            width: 59px;
            margin-right: 2.9rem;
        }

        & .mail-icon {
            width: 65px;
            margin-right: 2.3rem;
        }

        & h3 {
            font-size: 2.4rem;
            margin-bottom: 0.9rem;
        }

        & p {
            font-size: 1.4rem;
        }
    }
}

/*ABOUT*/

main #about {
    width: 1278px;

    & h2, h3 {
        text-transform: uppercase;
    }
}

main #about .introducao,
main #about .sobre,
main #about .porque-usar {
    display: flex;
    margin-bottom: 10rem;

    & h2, h3 {
        font-size: 3.6rem;
    }

    & h3 {
        font-weight: 400;
    }

    & p {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    & .arrow {
        margin-left: -30px;
    }
}

main #about .introducao,
main #about .porque-usar {
    & h2 {
        margin-bottom: 8px;
    }

    & .flecha {
        display: flex;
        margin-top: 23px;
    }

    & p {
        margin-left: 10rem;
    }
}

main #about .introducao {
    & .flecha {
        margin-left: -20px;
    }
}

main #about .sobre {
    display: flex;
    align-items: center;

    & img {
        border-radius: 230px 100px;
    }

    & div {
        margin-left: 10.6rem;

        & h2 {
            margin-bottom: 0.5rem;
        }

        & p {
            margin: 4.2rem 0 2.8rem 0;
        }
    }
}

main #about .porque-usar {

    & h2, h3 {
        width: 270px;
    }

    & .flecha {
        margin-left: 20px;
    }
}


/*CARDS*/
.cards {
    display: flex;
    justify-content: space-between;
    width: 1278px;
}

.cards div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 310px;
    height: 511px;
    padding: 25px;
    border-radius: 40px;
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
    ;

    & .imagem-principal {
        width: 200px;
        border-radius: 50%;
        border: solid 13px #0E0E0E52;
        ;
    }

    & h2 {
        font-size: 24px;
    }

    & .line {
        width: 155px;
        height: 5px;
    }

    & p {
        font-size: 12px;
        line-height: 25px;
    }

    & button {
        margin-top: 20px;
    }
}


/*TECNOLOGIES*/

#tecnologies {
    width: 1278px;
    display: flex;
    flex-direction: column;
}

#tecnologies .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 305px;
    border-radius: 50%;
    background-image: url('./images/tecnologies-image.png');

    & h1 {
        font-size: 36px;
    }

    & h2 {
        font-size: 36px;
        font-weight: 300;
    }
}

#tecnologies .logos {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & :nth-child(1) {
        height: 174px;
    }
}

#tecnologies .como-usar .informacoes {
    display: flex;
    margin: 10rem 0;

    & .titulo {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        width: 85rem;

        & h2 {
            margin-bottom: 8px;
            font-size: 3.6rem;
        }

        & h3 {
            font-weight: 400;
            font-size: 3.6rem;
        }
    } 

    & .flecha {
        display: flex;
        margin: 30px 40px 0 0;

        & .arrow {
            margin-left: -30px;
        }
    }
   
    & p {
        font-size: 1.6rem;
        line-height: 2.5rem;
        width: 170rem;
    }
}

#tecnologies .como-usar .ferramentas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10rem;
    background: url('../images/background-lines/background-line-ferramentas.svg') no-repeat;
    
    & div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 255px;

        & .circulo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: solid 20px rgba(13, 13, 13, 0.32);

            & h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 160px;
                height: 160px;
                font-size: 6.4rem;
                color: #343045;
                background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);
                border-radius: 50%;
            }
        }
    
        & p {
            display: flex;
            font-size: 2.4rem;
            font-weight: 700; 
            margin-top: 30px;
    
            & img {
                width: 67px;
                margin-top: -20px;
            }
        }
    } 
}

/*FOOTER*/
footer {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 9rem;
    width: 130rem;
}

footer nav {
    display: flex;

    & .logo {
        width: 185px;
        height: 187px;
        flex-shrink: 0;
        margin-right: 7.7rem;
    }

    & .vertical-line {
        height: 196px;
    }

    & :nth-child(3),
    :nth-child(5) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 30rem;
        max-height: 19.6rem;
        margin: 0 auto 0;
    }

    & :nth-child(5) :nth-child(4) {
        padding-bottom: 5rem;
    }

    & .social {
        display: flex;
        flex-direction: column;
        margin-left: 7rem;

        & ul {
            display: flex;
            margin-top: 4rem;
            margin-bottom: auto;

            & img {
                width: 32px;
                height: 32px;
            }
        }
    }
}

footer .rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.7rem;
    font-size: 1.4rem;

    & img {
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, #343045 0%, #C0B7E8 50%, #343045 100%);
        margin-bottom: 4.9rem;
    }
}