body {
    background-color: #343045;
    color: #FFFFFF;
    width: 100%;
    margin: 5rem 8.4rem;
}

/*HEADER*/

header {
    display: flex;
    width: 135rem;
}

header .logo {
    display: flex;

    & :nth-child(2) {
        margin-left: 1.5rem;
    }
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
}

header .menu ul {
    display: flex;
    font-size: 1.2rem;
    margin-left: 20.5rem;
    margin-right: 14rem;
    text-transform: uppercase;

    & li {
        padding: 2.1rem;
    }

    & :hover {
        color: #C0B7E8;
        transition: 0.2s ease-in-out;
    }
}

header .menu button {
    &.contato {
        background: none;
        background-color: #343045;
        color: #FFFFFF;
        border: solid 1px #FFFFFF;
        margin-right: 3.5rem;
    }
}

/*HERO*/

main #hero {
    display: flex;
    flex-direction: column;
    width: 135rem;
}

main #hero .introducao {
    display: flex;
    justify-content: space-between;
    margin: 12.4rem 0 8.8rem 0;

    & .text {
        max-width: 51rem;
        align-self: center;

        & h1 {
            font-size: 4.6rem;
            margin-bottom: 3.6rem;

            & span:nth-child(1) {
                background: linear-gradient(92deg, #C0B7E8 -1.02%, #8176AF 36.25%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            & span:nth-child(2) {
                background: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        & p {
            max-width: 49.5rem;
            font-size: 1.6rem;
            line-height: 2.5rem;
        }

        & :nth-child(3) {
            display: flex;
            align-items: end;
            margin-top: 4rem;

            & img {
                margin: 0 0 -25px 40px;
            }
        }
    }

    & .main-image {
        border-radius: 100px 100px 100px 240px;
        border: solid 18px rgba(0, 0, 0, 0.13);
    }
}

main #hero .contato {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 127.2rem;
    height: 16.7rem;
    border-radius: 90px;
    background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    margin-bottom: 9rem;
    padding: 4.8rem 8rem 4.8rem 3.9rem ;

    & figure {
        display: flex;
        align-items: center;

        & .location-pin {
            width: 70px;
        }

        & .phone-icon {
            width: 59px;
            margin-right: 2.9rem;
        }

        & .mail-icon {
            width: 65px;
            margin-right: 2.3rem;
        }

        & h3 {
            font-size: 2.4rem;
            margin-bottom: 0.9rem;
        }

        & p {
            font-size: 1.4rem;
        }
    }
}

/*ABOUT*/

main #about {
    & h2, h3 {
        text-transform: uppercase;
    }
}

main #about .introducao, main #about .porque-usar, main #about .sobre {
    display: flex;

    & h2, h3 {
        font-size: 3.6rem;
    }

    & h3 {
        font-weight: 400;
    } 

    & p {
        font-size: 1.6rem;
    }

    & .arrow {
        margin-left: -30px;
    }
}

main #about .sobre {
    display: flex;

}


/*FOOTER*/
footer {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 9rem;
    width: 130rem;
}

footer nav {
    display: flex;

    & .logo {
        width: 185px;
        height: 187px;
        flex-shrink: 0;
        margin-right: 7.7rem;
    }

    & .vertical-line {
        height: 196px;
    }

    & :nth-child(3),
    :nth-child(5) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 30rem;
        max-height: 19.6rem;
        margin: 0 auto 0;
    }

    & :nth-child(5) :nth-child(4) {
        padding-bottom: 5rem;
    }

    & .social {
        display: flex;
        flex-direction: column;
        margin-left: 7rem;

        & ul {
            display: flex;
            margin-top: 4rem;
            margin-bottom: auto;

            & img {
                width: 32px;
                height: 32px;
            }
        }
    }
}

footer .rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.7rem;
    font-size: 1.4rem;

    & img {
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, #343045 0%, #C0B7E8 50%, #343045 100%);
        margin-bottom: 4.9rem;
    }
}